*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
  text-decoration:none;
}
button{
	cursor: pointer;
	border: none;
	background: none;
}

header{
	position: fixed;
	width: 100%;
	z-index: 5;
	background:rosybrown;
}

header .navbar{
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content:space-between;
}

.navbar .nav-logo .logo-text{
	color: white;
	font-size: 70px;
	font-weight: 10px;
	margin-left: 80px;
}

.navbar .nav-menu{
	display: flex;
	gap: 10px;
}

.navbar .nav-menu .nav-link{
	  color: white;
	  padding:12px 40px;
    font-size: 37px;
    background: brown;
    border-radius: 20px;
    transition: 0.4s ease;
    margin-right: 40px;
}

.navbar .nav-menu .nav-link:hover{
  color: white;
	background: deepskyblue;
}


.hero-section{
	min-height: 100vh;
	background: brown;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: white;
  justify-content: space-between;
}


.hero-section .hero-details .title{
  margin-top: 50px;
  margin-left:230px;
	font-size:80px;
	color: orange;
	font-family: sans-serif;
}


.hero-section .hero-details .subtitle{
	margin-top: 10px;
	margin-left: 100px;
	max-width:80%;
	font-size: 65px;
	font-weight: 2px;
}


.hero-section .hero-details .description{
	max-width: 75%;
	margin: 34px 100px 40px;
	font-size: 45px;
}



.hero-section .hero-details .buttons{
	display: flex;
	gap: 5px;
	margin-left: 150px;
}



.hero-section .hero-details .button{
	padding: 10px 26px;
	border: 2px solid transparent;
	color: black;
	border-radius: 30px;
	background: orange;
	font-weight: 80px;
	font-size: 35px;
	margin-left: 40px;
	margin-top: 30px;
	transition: 0.4s ease;
}

.hero-section .hero-details .button:hover ,
.hero-section .hero-details .contact-us {
   color: white;
   border-color: white;
   background: transparent;
}

.hero-section .hero-details .contact-us:hover{
	color: black;
   border-color: orange;
   background: orange;
}

.hero-section .hero-image-wrapper{
	margin-right: 150px;
	margin-top: 100px;
}








.about-section{
	padding: 120px 0;
	background: pink;
}


.about-section .section-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}


.about-section .about-image-wrapper .about-image{
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 300px;
  margin-left: 150px;
}

.about-title{
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 45px;
    margin-left: 550px;
}


.about-title::after{
	content: "";
	width: 230px;
	height: 6px;
	display: block;
	border-radius: 6px;
	background: green;
}

.about-section .about-details .text{
	line-height: 35px;
	font-size: 40px;
	margin-left: 90px;
	justify-content: center;
	text-align: center;
	max-width: 70%;
}

.about-section .social-link-list{
	display: flex;
	gap: 25px;
	margin-left: 540px;
	margin-top: 40px;
}

.about-section .social-link-list .social-link{
	color: darkred;
	font-size: 50px;
}

.about-section .social-link-list .social-link:hover{
   color: blue;
}












.menu-section{
	color: white;
	background: black;
	padding: 50px 0 100px;
}


.menu-title{
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 52px;
    margin-left: 1150px;
}


.menu-title::after{
	content: "";
	width: 282px;
	height: 6px;
	display: block;
	border-radius: 6px;
	background: green;
}



.menu-section .menu-list{
	display: flex;
	flex-wrap: wrap;
	gap: 110px;
	align-items: center;
	justify-content: space-between;
}



.menu-section .menu-list .menu-item{
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   justify-content: space-between;
   width: calc(90% / 3 - 110px);
   border: 12px solid pink;
}

.menu-section .menu-list .menu-item .name{
	margin: 12px 0;
	font-size: 48px;
	font-weight: 9px;
  justify-content: space-between;
    }


.menu-section .menu-list .menu-item .text{
   font-size: 39px;
   justify-content: space-between;
   max-width: 92%;
 }



.menu-section .menu-list .menu-item .menu-image{
	max-width: 80%;
	aspect-ratio: 1;
	margin-bottom: 15px;
	object-fit: contain;
}









.section-title{
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 52px;
    margin-left: 1150px;
}


.section-title::after{
	content: "";
	width: 411px;
	height: 6px;
	display: block;
	border-radius: 6px;
	background: green;
}



.testimonials-section{
	additive-symbols: 50px 0 100px;
	background: pink;
}

.testimonials-section .slider-wrapper{
	overflow: hidden;
	margin: 0 60px 50px;
}

.testimonials-section .testimonial{
	user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.testimonials-section .testimonial .user-image{
	width: 260px;
	height: 260px;
	margin-bottom: 50px;
	border-radius: 300px;
}


.testimonials-section .testimonial .name{
	margin-bottom: 16px;
	font-size: 42px;
}


.testimonials-section .testimonial .feedback{
	line-height: 32px;
	font-size: 38px;
	max-width: 79%;
}

.testimonials-section .swiper-pagination-bullet{
 width: 24px;
 height: 24px;
 opacity: 1;
 background: blueviolet;
}

.testimonials-section .swiper-slide-button{
	color: orange;
	transition: 0.3s ease;
	margin-top: -50px;
}


.testimonials-section .swiper-slide-button:hover{
	color: blue;
}











.gal{
    padding: 60px 0 190px;
    text-transform: uppercase;
    font-size: 45px;
    margin-left:1200px;
}


.gal::after{
	content: "";
	width: 220px;
	height: 6px;
	display: block;
	border-radius: 6px;
	background: green;
}


.gallery-section{
	padding: 50px 0 100px;
}

.gallery-section .gallery-list{
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}


.gallery-section .gallery-list .gallery-item{
	overflow: hidden;
	border-radius: 28px;
	width: calc(100% / 3 - 32px);
}


.gallery-section .gallery-item .gallery-image{
	width: 80%;
}


.gallery-section .gallery-item:hover .gallery-image{
	transform: scale(1.3);
}










.topic{
    padding: 60px 0 190px;
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 1200px;
}


.topic::after{
	content: "";
	width: 320px;
	height: 6px;
	display: block;
	border-radius: 6px;
	background: green;
}



.contact-section{
	padding: 50px 0 100px;
	background: hotpink;
}


.contact-section .section-content{
	display: flex;
	gap: 48px;
	align-items: flex-start;
	justify-content: space-between;
}

.contact-section .contact-info-list .contact-info{
   display: flex;
   gap: 20px;
   margin: 20px 0;
   align-items: center;
   font-size: 45px;
}


.contact-section .contact-info-list .contact-info ion-icon{
   font-size: 36px;
   margin-left: 220px;
}


.contact-section .contact-form .form-input{
	width: 100%;
	height: 76px;
	padding: 0 12px;
	outline: none;
	margin-bottom: 15px;
	background: white;
	border-radius: 10px;
	font-size: 32px;
	border: 4px solid gray;
}


.contact-section .contact-form {
  max-width: 38%;
  margin-right: 200px;
}

.contact-section .contact-form .form-input:focus{
   border-color: brown;
}

.contact-section .contact-form textarea.form-input{
   height: 180px;
   padding: 22px;
   resize: vertical;
   font-size: 36px;
  }

.contact-section .contact-form .submit-button{
	padding: 12px 30px;
	color: white;
	font-size: 36px;
	font-weight: 32px;
	background: blueviolet;
	border-radius: 30px;
	border: 2px solid orange;
	transition: 0.3s ease;
}


.contact-section .contact-form .submit-button:hover{
    color: blue;
    background: transparent;
}








.footer-section	{
  padding: 20px 40px;
  background: darkblue;
}


.footer-section .section-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link){
	color: white;
	transition: 0.2s ease;
	font-size: 39px;
}

.copyright-text{
	margin-left: 40px;
}


.footer-section .social-link-list{
	display: flex;
	gap: 10px;
}

.footer-section .social-link-list .social-link{
	font-size: 50px;
}


.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover,
.footer-section .section-content .copyright-text:hover{
	color: saddlebrown;
}


.footer-section .policy-text .policy-link{
	font-size: 38px;
}

.footer-section .policy-text .separator{
   margin: 0 10px;
   color: white;
   font-size: 70px;
}




















